/__pycache__
/.got
/.vscode
*.fits
*.eps
*.jp2
*.gif
*.png
*.zip
workspace*
demregpy.egg-info/*
demregpy/demregpy.egg-info/*
dist/*
demregpy/_version.py
demregpy/__pycache__/*
demregpy/__pycache__/*pyc
build/*
*/__pycache__/*
/__pycache__/*
mypy.ini
*.pyc