/__pycache__
/test
/.got
/.vscode
*.fits
*.eps
*.jp2
*.gif
*.png
test.py
test1.py
*.zip
workspace*
demregpy.egg-info/*
dist/*
demregpy/__pycache__/*
demregpy/__pycache__/*pyc
build/*
